/* homepage */
.homepage {
	border: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}
.homepage h3 {
	margin-top: 5px;
}
.homepage p {
	margin-bottom: 5px;
}
.homepage ul {
	margin-top: 0px;
	padding-top: 0px;
}
.homepage img {
	margin: 0px 10px 10px 0px;
}
